.cproject
.project
.settings/

**/.DS_Store
**/*.pyc
output.dat
pyBeam/*.so
pyBeam/*.py
pyBeam/*.pyc
pyBeam/*.cxx
pyBeam/*.o
pyBeam/obj/
pyBeam/externals/*

.idea/
pyBeam.config
pyBeam.creator
pyBeam.creator.user
pyBeam.files
pyBeam.includes
pyBeam.cflags
pyBeam.cxxflags

tests/ONERAM6
tests/ONERAM6_new
tests/ONERAM6_new_tipcross
tests/Bug_pybeam010719_straight
tests/Bug_pyBeam130690
tests/Bug_pyBeam130690_local_system_updated
tests/regression/config.cfg~
tests/regression/mesh2.msh~

**/restart.pyBeam
tests/beam/point_load/solution.pyBeam
**/build
lib
